.card{
  display: flex;
  flex-direction: column;
}
.profile-image{
  border-radius: 10px 10px 0px 0px;
  width: 315px;
  height: 315px;
  margin-bottom: 0;
}

.main-content{
  margin: 0px;
  width: 315px;
  height: 350px;
  background-color: #000000;
}
h3,h4{
  margin: 0;
}
.main-main{
  padding: 10px;
}
.name-title{
  margin-top: 10px;
  color: #ffffff;;
}
.sub-name{
  font-size: 12px;
  color: rgb(241, 188, 53);
}
.bt{
  margin-top: 15px;
}
button {
  cursor: pointer;
}

button:active {
  box-shadow: 0px 8px 12px -10px rgba(255, 255, 255, 0.76) !important;
}
.btn-email{

  padding: 5px;
  margin-right: 10px;
  border-radius: 5px 5px 5px 5px;
  background-color: #d12c34;
}
.btn-linkedin{
  color: white;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #0072b1;
}
.about>h3{
  padding-left: 10px;
  text-align: left;
  margin-top: 10px;
  color: #ffffff;
}
.info{
  padding: 10px;
  text-align: justify;
  color: #ffffff;
  font-size: 14px;
}
.footer{
  display: flex;
  justify-content: center;
  width: 315px;
  height: 50px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

.footer>a>img{
  padding: 15px;
  width: 20px;
  height: 20px;
}